@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #06080f;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	overflow: hidden;
	user-select: none;
}

.rotate-cw {
	position: absolute;
	left: 0;
	top: -100vw;
	width: 100vh;
	height: 100vw;
	transform: rotate(90deg);
	transform-origin: bottom left;
}

.title {
	text-align: center;
}

.content {
	display: grid;
	grid-template-rows: auto auto;
	justify-items: center;
    align-content: center;
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
}

.status-image {
	display: block;
	box-sizing: content-box;
}

.text-marker {
	position: absolute;
	transition-property: top left;
	transition-duration: 0.5s;
}

ul {
	position: absolute;
	list-style-type: none;
	transition-property: top left;
	transition-duration: 0.5s;
}

li, .title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-icon {
	display: grid;
	grid-template-columns: auto auto; 
	justify-content: start;
}

#slide {
	position: absolute;
	z-index: -1;
	transition-duration: 0.2s;
}

#text {
	white-space: pre-wrap;
}

span {
	color: #ef4444;
}

#control {
	display: grid;
	grid-template-columns: 30% 30% 30%;
	justify-content: space-evenly;
	background-color: #06080f;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100vw;
	border: 10px solid #06080f;
	border-bottom: 0px;
}

button {
	background-color: #06080f;
	padding: 3px 0 6px 0;
	border-radius: 10px 10px 0 0;
	border: 3px solid #06080f;
	border-bottom: 0px;
}

button > svg {
	vertical-align: middle
}

.hidden {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.transparent {
	opacity: 0.5;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.visible {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.6s;
}
