@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	user-select: none;
	background-color: #06080f;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	overflow: hidden;
}

.rotate-cw {
	transform: rotate(90deg);
	transform-origin: bottom left;
	position: absolute;
	top: -100vw;
	left: 0;
	height: 100vw;
	width: 100vh;
}

#head-line {
	text-align: center;
}

.text-marker {
	position: absolute;
	transition-property: top;
	transition-duration: 0.5s;
}

#slide {
	position: absolute;
	z-index: -1;
	transition-duration: 0.2s;
}

#text {
	white-space: pre-wrap;
}

span {
	color: #ef4444;
}

ul {
	position: absolute;
	list-style-type: none;
	transition-property: top left;
	transition-duration: 0.5s;
}

li,
#head-line,
#sub-line {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#control {
	display: grid;
	background-color: #06080f;
	width: 100vw;
	justify-content: space-evenly;
	grid-template-columns: 30% 30% 30%;
	position: fixed;
	bottom: 0px;
	left: 0px;
	border: 10px solid #06080f;
	border-bottom: none;
}

button {
	background-color: #06080f;
	padding: 3px 0 6px 0;
	border-radius: 10px 10px 0 0;
	border-width: 3px 3px 0 3px;
	border-style: solid;
}

button > svg {
	vertical-align: middle
}

.hidden {
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.transparent {
	opacity: 0.5;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.visible {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.6s;
}