@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto";
  line-height: 1.175;
}

#app {
  width: 100vw; 
  overflow: hidden; 
  height: 100vh; 
  border: 0px;
}

#slide {
  position: relative;
  left:0px;
  width:100vw;
  z-index: -1;
  padding: 0px 15px 0px 15px;
}

#text {
  font-size: 5.8vw
}