@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  user-select: none;
  background-color: #05100b;
  font-family: "Roboto";
  line-height: 1.2;
  overflow: hidden;
}

#app {
  width: 100vw; 
  overflow: hidden; 
  height: 100vh; 
  border: 0px;
}

#head-line {
  text-align: center;
}

#text-marker {
  transition-property: top;
  transition-duration: 0.5s;
}

#control {
  display: grid;
  background-color: #05100b;
  width: 100vw;
  justify-content: space-evenly;
  grid-template-columns: 30% 30% 30%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border: 10px solid #05100b;
  border-bottom: none;
}

#control > button {
  background-color: #05100b;
  font-size: 5.5vh;
  font-weight: bold;
  height: 9vh;
  border-radius: 10px 10px 0 0;
  border-width: 3px;
  border-style: solid;
  border-bottom: none;
}

#slide {
  position: relative;
  width:100vw;
  z-index: -1;
  transition-property: top;
  transition-duration: 0.25s;
}

ul, table {
  list-style-type: none;
  transition-property: top;
  transition-duration: 0.5s;
}

li {
  white-space: nowrap; 
  width: 97vw; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.transparent {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.6s;
}

.visible {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.6s;
}

.hidden {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.6s;
}
